@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/media-mixins' as *;

.page-header {
  border-bottom: 1px solid $color-line-first;
}

.page-header__container {
  @extend %container;
  display: grid;
  align-items: center;
  grid-template-columns: 145px 1fr;
  column-gap: 93px;
}

.page-header__navbar {
  display: flex;
  align-items: center;
}

.menu-container {
display: flex;
align-items: center;
justify-content: space-between;
}